body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-div {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 50px auto 20px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
::-webkit-input-placeholder {
  padding-left: 10px;
}

:-moz-placeholder {
  padding-left: 10px;
}
.login-content{
  text-align: center;
  margin: auto;
}
.google-icon{
  height: 12px;
  padding-right:30px;
  padding-top: 3px;
  width: 15px;
}

.google-button{
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 25px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}
.login-button{
  width: 250px;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 25px;
  color: whitesmoke;
  background-color:#7094f6;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.Signup-button{
  width: 80px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 15px;
  height: 25px;
  color: whitesmoke;
  background-color:#7094f6 ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login {
  display: block;
  margin-top:15px ;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 25px;
  width: 250px;
}
.password {
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 25px;
  width: 250px;
} 
.heading{
  color: #7094f6;
}
.welcome-back{
  color: #7094f6;
}

/* .login-content{
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}
.welcome-back{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
*/
.second-div-picture{
  background-image: url(laptop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
